{{/* Cross-section navigation */}}
{{ $currentPage := . }}

{{/* Find which top-level section this page belongs to */}}
{{ $bookSection := "" }}
{{ range .Site.Sections }}
  {{ if or (eq $currentPage .) ($currentPage.IsDescendant .) }}
    {{ $bookSection = .Section }}
  {{ end }}
{{ end }}

{{/* Get all pages in this book, sorted by weight */}}
{{ $allPages := where .Site.RegularPages "Section" $bookSection }}
{{ $sortedPages := sort $allPages "Weight" }}

{{/* Find current page index */}}
{{ $prevPage := "" }}
{{ $nextPage := "" }}
{{ $foundIndex := -1 }}
{{ range $i, $page := $sortedPages }}
  {{ if eq $page.RelPermalink $currentPage.RelPermalink }}
    {{ $foundIndex = $i }}
  {{ end }}
{{ end }}

{{/* Get prev and next by index */}}
{{ if gt $foundIndex 0 }}
  {{ $prevPage = index $sortedPages (sub $foundIndex 1) }}
{{ end }}
{{ if lt $foundIndex (sub (len $sortedPages) 1) }}
  {{ $nextPage = index $sortedPages (add $foundIndex 1) }}
{{ end }}

{{ if $prevPage }}
  <a href="{{ $prevPage.Permalink }}" class="prev-link">&larr; {{ $prevPage.Title }}</a>
{{ end }}
{{ if $nextPage }}
  <a href="{{ $nextPage.Permalink }}" class="next-link">{{ $nextPage.Title }} &rarr;</a>
{{ end }}
